<launch>

 <!-- Run Map Server-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find firerobot)/src/data/meeting.yaml"/>
 <!-- Run FireMap Nodes -->
    <node pkg="firerobot" type="fire_node.py" name="fire_node"/>
<!-- Run Map Estimator -->
    <node pkg="firerobot" type="thermal_captor.py" name="thermal_captor"/>
 <!-- Run Stage -->
    <node pkg="stage_ros" type="stageros" name="stage_ros" args="$(find firerobot)/src/data/meeting.world"/>
</launch>
