<launch>

 <!-- Run Map Server-->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find firerobot)/src/data/meeting.yaml"/>
 <!-- Run FireMap Nodes
    <node pkg="firerobot" type="fire_node.py" name="fire_node"/>
    <node pkg="firerobot" type="firegenerator_node.py" name="firegenerator_node"/>
  -->
 <!-- Run Stage -->
    <node pkg="stage_ros" type="stageros" name="stage_ros" args="$(find firerobot)/src/data/meeting.world"/>
 <!-- Run SLAM
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
      <remap from="scan" to="base_scan"/>
    </node>
 -->
</launch>
